.THIS.stage {
    height:50px;
    width:100px;
    border:1px solid red;
     border-radius: 20px 0px 0px 20px;
    float:left;
    text-align: center;
    padding:10px;
   
}
.THIS.p1{
    text-align: center;
}